In [1]:
import pandas as pd

In [2]:
modelAnalysisSize = 20000
trainSetSize = 10000
devianceAnalysisSize = 100

In [3]:
modelAnalysis = pd.read_pickle('modelAnalysis.pkl')
modelAnalysis.head()

,PREDICTED_dispatch_to_arrival_time,ACTUAL_dispatch_to_arrival_time,Latitude,Longitude,TimeOfDay,text,colorScale
487325,2.627012,2.0,39.113667,-84.514740,0,<br>Hour of Dispatch: 0<br>Predicted Dispatch ...,5.320000
616396,8.822008,11.0,39.114491,-84.568891,17,<br>Hour of Dispatch: 17<br>Predicted Dispatch...,8.230000
256807,3.633975,4.0,39.146569,-84.482623,16,<br>Hour of Dispatch: 16<br>Predicted Dispatch...,5.320000
494703,4.598861,2.0,39.126830,-84.598151,2,<br>Hour of Dispatch: 2<br>Predicted Dispatch ...,5.320000
110279,7.639837,2.0,39.149741,-84.592972,20,<br>Hour of Dispatch: 20<br>Predicted Dispatch...,7.639837

In [4]:
modelAnalysis.describe(include = 'all')

,PREDICTED_dispatch_to_arrival_time,ACTUAL_dispatch_to_arrival_time,Latitude,Longitude,TimeOfDay,text,colorScale
count,99519.000000,99519.000000,99519.000000,99519.000000,99519.000000,99519,99519.000000
unique,NaN,NaN,NaN,NaN,NaN,99482,NaN
top,NaN,NaN,NaN,NaN,NaN,<br>Hour of Dispatch: 19<br>Predicted Dispatch...,NaN
freq,NaN,NaN,NaN,NaN,NaN,2,NaN
mean,7.931732,13.281444,39.140092,-84.517898,13.306514,NaN,6.743090
std,8.682498,31.028539,0.030868,0.055430,6.590481,NaN,1.171123
min,0.276555,1.000000,39.015124,-84.816299,0.000000,NaN,5.320000
25%,5.329432,3.000000,39.114758,-84.560826,9.000000,NaN,5.329432
50%,6.677718,6.000000,39.135497,-84.516342,14.000000,NaN,6.677718
75%,8.236022,12.000000,39.157815,-84.485903,19.000000,NaN,8.230000
max,111.477899,1399.000000,39.395567,-84.209402,23.000000,NaN,8.230000

In [5]:
modelAnalysis = modelAnalysis.sample(n=modelAnalysisSize, random_state=42)

In [6]:
train_set = pd.read_csv('train_set.csv')
train_set.head()

,Unnamed: 0,ADDRESS_X,LATITUDE_X,LONGITUDE_X,AGENCY,CREATE_TIME_INCIDENT,DISPOSITION_TEXT,EVENT_NUMBER,INCIDENT_TYPE_ID,INCIDENT_TYPE_DESC,...,DISTRICT,dispatch_to_arrival_time,colorScale,logOfDispatchToArrivalTime,year,month,day,hour,minute,dayofweek
0,839914,17XX CASEY DR,39.176441,-84.549259,CP,2016-03-30 10:28:57,ADV - ADVISED,LCP160330000433,FAMTRB,NaN,...,5.0,17.0,12.0,2.833213,2016,3,30,10,28,2
1,1933417,35XX READING RD,39.146709,-84.488950,CP,2016-08-26 16:17:03,GOA - GONE ON ARRIVAL,LCP160826001216,WANT,NaN,...,4.0,NaN,NaN,NaN,2016,8,26,16,17,4
2,165034,X W CORRY ST,39.128050,-84.509377,CPD,2018-07-27 04:31:24,SOW: SENT ON WAY,CPD180727000219,DISORD,DISORDERLY PERSON(S),...,4.0,4.0,4.0,1.386294,2018,7,27,4,31,4
3,1922508,10XX BADER ST,39.133830,-84.535169,CP,2015-11-05 15:52:55,HANDLED BY FIRE,LCP151105001054,HEROIN,HEROIN OD,...,5.0,3.0,3.0,1.098612,2015,11,5,15,52,3
4,2185656,15XX WESTERN AV,39.113598,-84.531994,CPD,2017-10-29 23:33:05,REPO: REPO,CPD171029001441,REPO,TOWED VEH - FOR RECORDS USE ONLY,...,1.0,NaN,NaN,NaN,2017,10,29,23,33,6

In [7]:
train_set.describe(include = 'all')

,Unnamed: 0,ADDRESS_X,LATITUDE_X,LONGITUDE_X,AGENCY,CREATE_TIME_INCIDENT,DISPOSITION_TEXT,EVENT_NUMBER,INCIDENT_TYPE_ID,INCIDENT_TYPE_DESC,...,DISTRICT,dispatch_to_arrival_time,colorScale,logOfDispatchToArrivalTime,year,month,day,hour,minute,dayofweek
count,7.777790e+05,777741,777779.000000,777779.000000,777779,777779,771488,777779,729917,422171,...,772946.000000,398074.000000,398074.000000,398074.000000,777779.000000,777779.0000,777779.000000,777779.000000,777779.000000,777779.000000
unique,NaN,21588,NaN,NaN,2,773940,847,777779,306,262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,23XX FERGUSON RD,NaN,NaN,CPD,2017-01-10 19:00:33,CAN:CANCEL,CPD170704001688,ADV,ADVISED INCIDENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,3729,NaN,NaN,403521,6,102018,1,83372,33835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.283724e+06,NaN,39.139793,-84.517114,NaN,NaN,NaN,NaN,NaN,NaN,...,3.135203,13.279624,7.183054,1.902994,2016.416437,6.3599,15.700442,13.378458,29.082836,2.981037
std,5.894605e+05,NaN,0.031472,0.054630,NaN,NaN,NaN,NaN,NaN,NaN,...,1.337295,31.370257,3.604934,1.035097,1.155666,3.3605,8.802094,6.445889,17.396468,1.975142
min,1.950000e+02,NaN,34.149952,-85.468380,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,3.000000,0.000000,2014.000000,1.0000,1.000000,0.000000,0.000000,0.000000
25%,8.594170e+05,NaN,39.114502,-84.558317,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,3.000000,3.000000,1.098612,2015.000000,4.0000,8.000000,9.000000,14.000000,1.000000
50%,1.317022e+06,NaN,39.135281,-84.515530,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000000,6.000000,6.000000,1.791759,2017.000000,6.0000,16.000000,14.000000,29.000000,3.000000
75%,1.774682e+06,NaN,39.157858,-84.486531,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000000,12.000000,12.000000,2.484907,2017.000000,9.0000,23.000000,19.000000,44.000000,5.000000
max,2.232500e+06,NaN,39.559086,-84.137906,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,1442.000000,12.000000,7.273786,2018.000000,12.0000,31.000000,23.000000,59.000000,6.000000

In [8]:
train_set = train_set.sample(n=trainSetSize, random_state=42)

In [9]:
modelAnalysis.to_pickle('modelAnalysisD.pkl')
train_set.to_csv('train_setD.csv')

In [10]:
devianceAnalysis = pd.read_pickle('testSetDev.pkl')
devianceAnalysis.head()

   TrainingSetDeviance  TestSetDeviance  numEstimators
0             9.815795         9.793907              1
1             9.759512         9.786898              2
2             9.728333         9.779728              3
3             9.719949         9.772338              4
4             9.784153         9.765895              5

In [11]:
devianceAnalysis.describe()

       TrainingSetDeviance  TestSetDeviance  numEstimators
count          4000.000000      4000.000000    4000.000000
mean              8.985935         9.030994    2000.500000
std               0.165888         0.153747    1154.844867
min               8.770572         8.909745       1.000000
25%               8.880931         8.935626    1000.750000
50%               8.930689         8.972512    2000.500000
75%               9.023509         9.058000    3000.250000
max               9.815795         9.793907    4000.000000

In [12]:
#devianceAnalysis = devianceAnalysis.sample(n=devianceAnalysisSize, random_state=42)

In [13]:
devianceAnalysis.to_pickle('testSetDevD.pkl')